/* 
    Contributors: Dallen Corry, Laura Anderson, Jacob Hamilton
    Project name: Aperture Science
    Date: 12/05/2022
    Version 1.0
 */
 /*Pallete: #51472e, #147772, #d74923, #efa61c, #efefcb*/

 /*CSS Reset*/
 body, header, nav, main, footer, h1, div, img {
    margin: 0; 
    padding: 0;
    border: 0; 
}
 
/* Mobile First Development */

header {
    background-color: #212529;
}

.palette {
    background: linear-gradient(to right, #51472e, #147772, #d74923 , #efa61c , #efefcb );
    text-align: center;
    font-size: 3em;
}

body {
    background-color: #efefcb;
}
/*
.grid-display {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;

}*/

.grid-display img {
    max-width: 100%;
    display: block;
}

footer {
    text-align: center;
    font-family: 'Oswald';
}


.frame {
    position: relative;
    max-width: 200px;
    margin: 2% auto;
}

.pic-text {
    position: relative;
    bottom: 0;
    background: #147772;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

aside {
    text-align: center;
    font-size: 1.25em;
    padding: 2%;
    background-color: #efa61c;
    box-shadow: 5px 5px 10px #51472e;
    border-radius: 15px;
    margin: 0 10%;
}

#desktopOnly {
    display:none;
}

/* Tablet View */
/* Media Query for Tablet Viewport */
@media (min-width: 768px) {  

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .grid-display {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }
    
    #desktopOnly {
        display: block;
    }

}

/* Desktop View */
