/* 
    Contributors: Dallen Corry, Laura Anderson, Jacob Hamilton
    Project name: Aperture Science
    Date: 12/05/2022
    Version 1.0
 */
 /*Pallete: #51472e, #147772, #d74923, #efa61c, #efefcb*/

 /*CSS Reset*/
 body, header, nav, main, footer, h1, div, img {
    margin: 0; 
    padding: 0;
    border: 0;
}
 
/* Mobile First Development */

header {
    background-color: #212529;
}

.palette {
    background: linear-gradient(to right, #51472e, #147772, #d74923 , #efa61c , #efefcb );
    text-align: center;
    font-size: 3em;
}

body {
    background-color: #efefcb;
}

.grid {
    display: grid;
    grid-template-columns: auto, auto, auto;
    grid-gap: 20px;
}

/* Tablet View */

/* Desktop View */